---
layout: blogpost.liquid
tags: ["blog", "posts"]
date: 2022-11-17T18:37:30+11:00
eleventyNavigation:
  key: firstpost
  parent: blog
  title: Welcome to my blog
  subtitle: Welcome to my blog, This is my first post
  excerpt: Welcome to my blog, This is my first post
---
<h2>Hi, I'm Andrew St Clair</h2>
<p>I'm a cloud engineer at <a href="https://www.bendigobank.com.au">Bendigo Bank</a>. I create clouds, and I am going to try to write about them.</p>
<p>Some of the things i do include:
    <ul>
        <li>Support app migration to both AWS and GCP</li>
        <li>Learn new technologies</li>
        <li>Attend conferences</li>
        <li>Meet people</li>
    </ul>
</p>
