---
jobs:
- Associate Cloud Engineer
links:
- [Blog, /blog/, _self]
- [LinkedIn, https://www.linkedin.com/in/andrew-st-clair-a0a8a8b6/, _blank]
- [GitHub, https://github.com/andrew-stclair, _blank]
layout: index.liquid
permalink: /index.html
tags: blog
eleventyNavigation:
  key: home
  title: Home
---
