---
titles:
- Associate Cloud Engineer
links:
- [LinkedIn, https://www.linkedin.com/in/andrew-st-clair-a0a8a8b6/]
- [GitHub, https://github.com/andrew-stclair]
- [Credly, https://www.credly.com/users/andrew-st-clair.538052b8]
layout: index.liquid
permalink: /index.html
---
