---
name: Andrew St Clair
titles:
- Associate Cloud Engineer
links:
- [LinkedIn, https://www.linkedin.com/in/andrew-st-clair-a0a8a8b6/]
- [GitHub, https://github.com/andrew-stclair]
- [Credly, https://www.credly.com/users/andrew-st-clair.538052b8]
---
<!DOCTYPE html>
<html lang="en-AU">

<head>
	<title>{{ name }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta name="og:title" content="{{ name }}">
	<meta name="twitter:title" content="{{ name }}">
	<meta name="description" content="The website of {{ name }}{% for title in titles %}, {{ title }}{% endfor %}">
	<meta name="og:description" content="The website of {{ name }}{% for title in titles %}, {{ title }}{% endfor %}">
	<meta name="keywords" content="{{ name }}{% for title in titles %}, {{ title }}{% endfor %}">
	<meta name="author" content="{{ name }}">

	<link href="css/style.css" rel="stylesheet">
	<link rel="icon" href="favicon.ico" type="image/x-icon">

	<script src="https://use.typekit.net/tea2qzw.js"></script>
	<script>try { Typekit.load({ async: true }); } catch (e) { }</script>
</head>

<body>
	<main>
		<header>
			<h1>{{ name }}</h1>
			{% for title in titles %}
			<h2>{{ title }}</h2>
			{% endfor %}
		</header>
		<footer>
			<ul>
				<li>
					<svg width="48px" height="30px" viewBox="0 0 82 50" version="1.1">
						<g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
							<g id="mark" fill-rule="nonzero" fill="#FFFFFF">
								<polygon id="Triangle-5" opacity="0.6" points="60 15 82 50 38 50"></polygon>
								<path d="M50.4858116,30.1362089 L31.5,0 L0,50 L38,50 L50.4858116,30.1362089 Z"
									id="Combined-Shape"></path>
							</g>
						</g>
					</svg>
				</li>
				{% for link in links %}<li>
					<a href="{{ link[1] }}" target="_blank" rel="noopener noreferrer">{{ link[0] }}</a>
				</li>{% endfor %}
			</ul>
		</footer>
	</main>
</body>

</html>
